@font-face {
    font-family: "Lemon-Milk";
    src: url("font/lemonmilk-medium.woff2") format("woff2"),
         url("font/lemonmilk-medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Oliciy;
    src: url("font/Oliciy.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Cano;
    src: url("font/cano.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* There are two in each in reversed order to make it so the colors can be toggled */
body {
    /* Basic Styling */
    font-family: Arial, -apple-system, Helvectica, Times New Roman, "Lemon-Milk", Oliciy, Cano;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    display: block;
    
    /* Light Colors */
    --primary-color:#ffffff;
    --nav-text-color: #0b6623;
    --nav-text-color-hov: #fcc239;
    --text-color: #333333;
    --emph-text-color:;
    --about-image-size:;
    --about-shadow-color:; 
    --deemphasized-text-color:;
    --content-background-color: #edecdd;
}

/* All Nav bar stuff */
nav {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}

nav .top {
    position: relative;
    padding: .2em .5em .2em .5em;
    height: 1.2em;
    color: var(--primary-color);
    background-color: var(--nav-text-color-hov);
    text-align: center;
    transition: 1s;
    
    animation: drop-down-animation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes drop-down-animation {
    0% {
        top: -1.2em;
    }
    100% {
        top: 0em;
     }
}


nav .list {
    display: inline-flex;
    height: auto;
    width: 100vw;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

nav .list .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 40px 0 40px;
}

nav .list .logo img{
    width: 150px;
    height: 150px;
}

nav .list .links {
    display: inline-flex;
    align-items: center;
}

nav .list .links li {
    display: inline-flex;
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: .25em;
    margin-right: .25em;
    position: relative;
    margin: 10px;
    flex-wrap: wrap;
}

nav a {
    color: var(--nav-text-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--nav-text-color-hov)
}

nav .list .links li:hover {
    color: var(--nav-text-color);
}

@media only screen and (max-width: 600px) {
    nav .list .logo {
        display: flex;
        height: 100%;
        width: 100%;    
        justify-content: center;
        margin: 0;
    }
    
    nav .list .links {
    display: none;
    }
}



/* Main body of page */

.content-wrapper {
    padding: 0 5% 0 5%;
}

.content {
    background-color: var(--content-background-color);
    width: 100%;
}

.content p {
    color: #000000;
    margin: 0;
    padding: 2em 2em .5em 2em;
}